attr==0.3.2
colorama==0.4.6
ConfigParser==7.2.0
cryptography==46.0.3
docutils==0.22.3
filelock==3.20.1
HTMLParser==0.0.2
ipython==9.3.0
joblib==1.5.1
keyring==25.7.0
matplotlib==3.10.8
numpy==2.3.5
pandas==2.3.3
Pillow>=9.5,<12
plotly==6.1.2
protobuf==6.33.2
pyOpenSSL==25.3.0
redis==7.1.0
scikit_learn==1.8.0
shap==0.48.0
Sphinx==9.0.4
streamlit==1.50.0
thread==2.0.6

